#end-page-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#end-message-wrapper{
  //  margin: auto;
    font-size: 2em;
}