
<!-- Cards that present Players Details-->
<div id="player" class="col-xs-6 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-3 col-xl-3 col-xl-offset-1">
  this is player Details
</div>
<div id="partner" class="col-xs-6 col-sm-5 col-md-offset-2 col-md-3 col-xl-4 ">
  this is his match details
</div>
<!-- / Cards that present Players Details-->
<!--this is where the game will be displayed-->
<div id="game-wrapper" class=" col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 ">
  <router-outlet></router-outlet>
</div>