// body{
//     color:red;
// }
@import '_variables';
@import '_mixins';
*{
    font-family: 'Anton', sans-serif;
    font-family: 'Gloria Hallelujah', cursive;
}
body{
    background-color:$strong-pink;/*using variable as color*/
    
}

*{//should have padding and border included in the element's total width and height:
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


//SNIPPETS
// p{
    
//     @include default-text-style($midnight-blue,Georgia)
//   }